$primary: #6190E8;
$secondary: #7F65EA;
$accent: #51E5D5;

$white: #FFFFFF;
$black: #434343;

// Text colors

$text-primary: $black;
$text-inverse: $white;
$text-accent: $accent;
$text-secondary: $primary;